<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RTB" verbose="1">
    <test name="WarmUpIntegration" parallel="classes" preserve-order="true">
        <classes>
            <class name="SignUpTest" />
            <class name="TeamTest" />
        </classes>
    </test>
</suite>